.grid {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    margin: 8px;
}

.pm {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.pn {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.bold label {
    font-weight: bold;
}

.small-btn {
    padding: 5px 20px;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .5rem;
    border-color: #ffffff;
    background-color: #bcca74;
    color: #ffffff;
    cursor: pointer;
}


.small-btn.active {
    background-color: #8aa316;
}


.main-div {
    padding: 5px;
    text-align: left;
    min-height: 100vh;
    background-color: #f0f0f0;
}

.cl-1, .cl-2, .cl-3, .cl-4, .cl-5, .cl-6, .cl-7, .cl-8, .cl-9, .cl-10, .cl-11, .cl-12, .col,
.cl-auto, .cl-sm-1, .cl-sm-2, .cl-sm-3, .cl-sm-4, .cl-sm-5, .cl-sm-6, .cl-sm-7, .cl-sm-8, .cl-sm-9, .cl-sm-10, .cl-sm-11, .cl-sm-12, .cl-sm,
.cl-sm-auto, .cl-md-1, .cl-md-2, .cl-md-3, .cl-md-4, .cl-md-5, .cl-md-6, .cl-md-7, .cl-md-8, .cl-md-9, .cl-md-10, .cl-md-11, .cl-md-12, .cl-md,
.cl-md-auto, .cl-lg-1, .cl-lg-2, .cl-lg-3, .cl-lg-4, .cl-lg-5, .cl-lg-6, .cl-lg-7, .cl-lg-8, .cl-lg-9, .cl-lg-10, .cl-lg-11, .cl-lg-12, .cl-lg,
.cl-lg-auto, .cl-xl-1, .cl-xl-2, .cl-xl-3, .cl-xl-4, .cl-xl-5, .cl-xl-6, .cl-xl-7, .cl-xl-8, .cl-xl-9, .cl-xl-10, .cl-xl-11, .cl-xl-12, .cl-xl,
.cl-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

@media (max-width: 700px) {
    .cl-sm-1 {
        flex: 0 0 8.333333% !important;
        max-width: 8.333333% !important;
    }
    .cl-sm-2 {
        flex: 0 0 16.666667% !important;
        max-width: 16.666667% !important;
    }
    .cl-sm-3 {
        flex: 0 0 25% !important;
        max-width: 25% !important;
    }
    .cl-sm-4 {
        flex: 0 0 33.333333% !important;
        max-width: 33.333333% !important;
    }
    .cl-sm-5 {
        flex: 0 0 41.666667% !important;
        max-width: 41.666667% !important;
    }
    .cl-sm-6 {
        flex: 0 0 50% !important;
        max-width: 50% !important;
    }
    .cl-sm-10 {
        flex: 0 0 83.333333% !important;
        max-width: 83.333333% !important;
    }
    .cl-sm-12 {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
}
  @media (min-width: 700px) and (max-width: 1024px) {
    .cl-md-1 {
        flex: 0 0 8.333333% !important;
        max-width: 8.333333% !important;
    }
    .cl-md-2 {
        flex: 0 0 16.666667% !important;
        max-width: 16.666667% !important;
    }
    .cl-md-3 {
        flex: 0 0 25% !important;
        max-width: 25% !important;
    }
    .cl-md-4 {
        flex: 0 0 33.333333% !important;
        max-width: 33.333333% !important;
    }
    .cl-md-5 {
        flex: 0 0 41.666667% !important;
        max-width: 41.666667% !important;
    }
    .cl-md-6 {
        flex: 0 0 50% !important;
        max-width: 50% !important;
    }
    .cl-md-9 {
        flex: 0 0 75% !important;
        max-width: 75% !important;
    }
    .cl-md-10 {
        flex: 0 0 83.333333% !important;
        max-width: 83.333333% !important;
    }
    .cl-md-12 {
        flex: 0 0 100% !important;
    }
  }
  @media (min-width: 1025px) {
    .cl-lg-1 {
        flex: 0 0 8.333333% !important;
        max-width: 8.333333% !important;
    }
    .cl-lg-2 {
        flex: 0 0 16.666667% !important;
        max-width: 16.666667% !important;
    }
    .cl-lg-3 {
        flex: 0 0 25% !important;
        max-width: 25% !important;
    }
    .cl-lg-4 {
        flex: 0 0 33.333333% !important;
        max-width: 33.333333% !important;
    }
    .cl-lg-5 {
        flex: 0 0 41.666667% !important;
        max-width: 41.666667% !important;
    }
    .cl-lg-6 {
        flex: 0 0 50% !important;
        max-width: 50% !important;
    }
    .cl-lg-10 {
        flex: 0 0 83.333333% !important;
        max-width: 83.333333% !important;
    }
    .cl-lg-12 {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
  }
  @media (min-width: 1440px) {

  .container-custom {
    max-width: 1440px !important;
}
  }

.container-custom {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }